**1. Débuts avec les listes**

* Créer la liste 3, 5, 10, l'affecter à une variable, puis l'afficher.

In [1]:
[3, 5, 10]

[3, 5, 10]

In [2]:
L = [3, 5, 10]
print(L)

[3, 5, 10]

* Ajouter ensuite 12 et 17 à la fin puis afficher à nouveau la liste.

In [3]:
[3, 5, 10, 12, 17]

[3, 5, 10, 12, 17]

La méthode append() ajoute les 
éléments dans une liste

In [4]:
L.append(12)
L.append(17)
print(L)

[3, 5, 10, 12, 17]

* Changer le 10 en -7.

The index() method returns the index of the specified element in the list.

In [5]:
indice = L.index(10)
L[indice] = -7
print(L)

[3, 5, -7, 12, 17]

* Avec une boucle for, écrire le double de chaque élément de la liste. Cela doit afficher [6, 10, -14, 24, 34]. La liste doit être modifiée.

range permet de créer rapidement une liste d'entier, sans devoir les écrire.

range(11) équivaut à [0,1,2,3,4,5,6,7,8,9,10]

In [6]:
for i in range(len(L)):
  L[i] *= 2
print(L)

[6, 10, -14, 24, 34]

* A l'aide d'une boucle for, ajouter la valeur i à l'élément d'indice i de la liste. Cela doit afficher [6, 11, -12, 27, 38]. La liste doit être modifiée.

In [7]:
for i in range(len(L)):
  L[i] += i
print(L)

[6, 11, -12, 27, 38]

* Tirer 10 nombres à 2 chiffres au hasard et les mettre dans une nouvelle liste (vide au départ), puis afficher la somme des entiers de la liste et le plus grand de ces entiers.

la fonction **randint(0, 10)** du module random. Cette fonction renvoie un nombre entier tiré aléatoirement entre 0 inclus et 10 inclus.
list.append(x)
**append(x)**: Ajoute un élément x à la fin de la liste

In [8]:
import random
L2 = []
for i in range(10):
    x = random.randint(10, 100)
    L2.append(x)
print("Dans la liste", L2, "la somme des éléments vaut", sum(L2),
    "et le maximum vaut", max(L2))

Dans la liste [59, 74, 11, 77, 78, 16, 82, 38, 38, 54] la somme des éléments vaut 527 et le maximum vaut 82

* A partir de la liste choisie au hasard, créer une liste qui contient les éléments pairs et une deuxième liste qui contient les éléments impairs.

In [9]:
L_pair = []
L_impair = []
for v in L2:
  if v % 2 == 0:
    L_pair.append(v)
  else:
    L_impair.append(v)
print(L2, L_pair, L_impair)

[59, 74, 11, 77, 78, 16, 82, 38, 38, 54] [74, 78, 16, 82, 38, 38, 54] [59, 11, 77]

* Trier la liste choisie au hasard par ordre croissant en modifiant la liste.

In [10]:
L2.sort()
print(L2)

[11, 16, 38, 38, 54, 59, 74, 77, 78, 82]

* Supprimer le plus petit et le plus grand élément de la liste triée.

In [11]:
L2 = L2[1:-1]
print(L2)

[16, 38, 38, 54, 59, 74, 77, 78]

exmp: animaux = ['girafe', 'tigre', 'singe', 'souris']

animaux[1:-1]

['tigre', 'singe']

* Créer la liste des entiers de 1 jusqu'à 52. Ces entiers représentent les cartes d'un paquet de 52 cartes.

In [12]:
paquet = list(range(1,53))
print(paquet)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52]

In [ ]:
import random
paquet = list(range(1,52))
a = random.randint(0, 51)
print(paquet[a : 51], paquet[0 : a])

[35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51] [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34]

* Couper le jeu de carte revient à choisir un indice `i` entre 0 et 51, et à passer toutes les cartes allant des indices 0 à i-1 à la suite des cartes qui vont des indices i à 51. Ecrire le code qui effectue une coupe choisie au hasard.

la fonction **randint(0, 52)** du module random. Cette fonction renvoie un nombre entier tiré aléatoirement entre 0 inclus et 52 inclus.

In [13]:
i = random.randint(0,52)
paquet = 2 * paquet
paquet = paquet[i:i+52]
print(paquet)

[50, 51, 52, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

**2. Problème de Syracuse**

In [14]:
def syracuse(n):

  res = []
  while True:
    res.append(n)
    if n == 1:
      break
    if n % 2 == 0:
      n = n // 2
    else:
      n = 3 * n + 1
  return res
print(syracuse(3))

[3, 10, 5, 16, 8, 4, 2, 1]

In [15]:
def testeConjecture(n_max):

  for i in range(1, n_max + 1):
    syracuse(i)
  return True

print(testeConjecture(10000))

True

In [16]:
def tempsVol(n):
  cpt = 0
  while True:
    if n == 1:
      break
    cpt += 1
    if n % 2 == 0:
      n = n // 2
    else:
      n = 3 * n + 1
  return cpt
print("Le temps de vol de", 3, "est", tempsVol(3))

Le temps de vol de 3 est 7

In [17]:
def tempsVolListe(n_max):
  return [tempsVol(i) for i in range(1, n_max)]
print(tempsVolListe(100))

[0, 1, 7, 2, 5, 8, 16, 3, 19, 6, 14, 9, 9, 17, 17, 4, 12, 20, 20, 7, 7, 15, 15, 10, 23, 10, 111, 18, 18, 18, 106, 5, 26, 13, 13, 21, 21, 21, 34, 8, 109, 8, 29, 16, 16, 16, 104, 11, 24, 24, 24, 11, 11, 112, 112, 19, 32, 19, 32, 19, 19, 107, 107, 6, 27, 27, 27, 14, 14, 14, 102, 22, 115, 22, 14, 22, 22, 35, 35, 9, 22, 110, 110, 9, 9, 30, 30, 17, 30, 17, 92, 17, 17, 105, 105, 12, 118, 25, 25]

In [18]:
liste_vol = tempsVolListe(10000)
vol_max = max(liste_vol)
print("temps de vol maximum:", vol_max)
print("atteint par l'entier", liste_vol.index(vol_max) + 1) #les indices démarrent à 0!"

temps de vol maximum: 261
atteint par l'entier 6171

In [19]:
def alt_max(n):
  
  alt = n
  while True:
    if n == 1:
      break
    if n > alt:
      alt = n
    if n % 2 == 0:
      n = n // 2
    else:
      n = 3 * n + 1
  return alt
print("L'altitude maximale de 3 est", alt_max(3))
liste_altitude = [alt_max(i) for i in range(1, 10001)]
altitude_max = max(liste_altitude)
print("L'altitude maximale entre 1 et 10000 est", altitude_max)
print("elle est atteinte par l'entier", liste_altitude.index(altitude_max))

L'altitude maximale de 3 est 16
L'altitude maximale entre 1 et 10000 est 27114424
elle est atteinte par l'entier 9662

**3. Carré magique**

In [20]:
carre_mag = [[4, 14, 15, 1], [9, 7, 6, 12], [5, 11, 10, 8], [16, 2, 3, 13]]
print(carre_mag)

[[4, 14, 15, 1], [9, 7, 6, 12], [5, 11, 10, 8], [16, 2, 3, 13]]

In [21]:
carre_pas_mag = [list(l) for l in carre_mag] # attention, on ne peut pas seulement copier la liste\n",
carre_pas_mag[3][2] = 7

In [22]:
def afficheCarre(carre):

  for l in carre:
    print(l)
  print()

afficheCarre(carre_mag)
afficheCarre(carre_pas_mag)

[4, 14, 15, 1]
[9, 7, 6, 12]
[5, 11, 10, 8]
[16, 2, 3, 13]

[4, 14, 15, 1]
[9, 7, 6, 12]
[5, 11, 10, 8]
[16, 2, 7, 13]

In [23]:
def testLignesEgales(carre):

  som = sum(carre[0])
  for l in carre:
    if sum(l) != som:
      return -1
  return som

print(testLignesEgales(carre_mag))
print(testLignesEgales(carre_pas_mag))

34
-1

In [24]:
def testColonnesEgales(carre):

  col = [l[0] for l in carre]
  som = sum(col)
  for i in range(1, len(carre)):
    col = [l[i] for l in carre]
    if sum(col) != som:
      return -1
  return som

print(testColonnesEgales(carre_mag))
print(testColonnesEgales(carre_pas_mag))

34
-1

In [25]:
def testDiagonalesEgales(carre):

  n = len(carre)
  diag = [carre[i][i] for i in range(n)]
  anti_diag = [carre[i][n - 1 - i] for i in range(n)]
  som = sum(diag)
  if som == sum(anti_diag):
    return som
  else:
    return -1
    
print(testDiagonalesEgales(carre_mag))
print(testDiagonalesEgales(carre_pas_mag))

34
34

In [26]:
def estCarreMagique(carre):

  return testLignesEgales(carre) ==  testColonnesEgales(carre) and testLignesEgales(carre) == testDiagonalesEgales(carre) and testLignesEgales(carre) != -1

print(estCarreMagique(carre_mag))
print(estCarreMagique(carre_pas_mag))

True
False

In [27]:
def estNormal(carre):

  n = len(carre)
  nombres = list(range(1, n * n + 1))
  for i in range(n):
    for j in range(n):
      if carre[i][j] in nombres: #on teste d'abord pour pas générer d'erreur avec remove\n",
        nombres.remove(carre[i][j])
  return len(nombres) == 0

print(estNormal(carre_mag))
print(estNormal(carre_pas_mag))

True
False